body {
    background-image: url("http://i.imgur.com/dMru3N7.png");
    background-size: cover;
}
h1 {
  font-family: helveticaj
  font-size: 100px
}
body {
  text-align: center;
}
ul {
  font-size: 30px
}
.Footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
